
@body {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
//    height: 297mm;        
  }
  body {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  section {
    page-break-after:always;
  }
  nav, h1, section {
    display:none;
  }
  #foundation, #routines {
    display:block;
  }
  #personas {
    display: flex;
  }
}

