
body {
  width:100%;
  margin:0;
  padding:0;
}
section {
  width:800px;
  margin: 0 auto;
}
img {
//  max-height:70%;
  max-width:70%;
  align-self: center;
}

h1 {
  margin-top:100px;
}

#testdiv:before {
  content:'\26A1 \1F916 \1f62b \26D3, \2665 \2661, \263E \2600, \2639 \263A, \21E9 \2193 \21E7 \2191, \26FD \1F525';
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:LightCoral;
  z-index: 10100;
}
nav ul {
//  list-style:none;
  list-style-type: none;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
nav li {
//  display:inline;
  float: left;
}

nav li a, nav li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

[data-status="idea"] {
  display:none;
}

.info:before {
  content: '\24D8'; /* http://www.evotech.net/articles/testjsentities.html */
  font-size:150%;
  display:block;
  margin-top: -5px;
}
.info {
  column-count: 2;
  border: 1px solid;
  border-top-left-radius: 30px 15px;
  padding:5px;
  background-color:yellow;
}