body {
	font-family: "RO Sans", Verdana, Arial, sans-serif;
	background-color: #fbfbfb;
  font-size: 100%;
  line-height: 1.5em;
  color: #282828;
  margin-top:0;
}
article {
	margin-top:0;
	background-color:white;
	min-width:400px;
	max-width:400px;
	margin: 0 auto;
}
#bodywrapper, input[type=submit] {
	box-shadow: 0 0 5px 0 grey;
}
section {
	min-width:70%;
	padding: 20px;
	overflow:hidden;
}
.active {
//	  text-decoration: underline;
//	  text-decoration-color: orange;
  border-bottom: 2px solid orange;
  font-weight:bold;
}
.header {
	font-weight:bold;
	font-size:90%;
}
h3 {
	color: darkorange;
	margin-top:0;
}
input[type=submit] {
  background-color: darkorange;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  float:right;
  font-size: 100%;
  font-weight:bold;
}
input[type=file] {
  font-size: 100%;
  margin-bottom:10px;
}
.info {
	background-color:lightskyblue;
	min-width:92%;
	max-width:92%;
	margin: 0 auto;
	margin-bottom: 15px;
	padding:10px;
	display:inline-block;
}
.en {
	display:none;
}
#top span {
	float: left;
}
#top :last-child {
	float: right;
	font-size:115%;
	text-decoration:none;
}

.loader {
  display: none;
  margin: auto;
  border: 16px solid #fbfbfb;
  border-radius: 50%;
  border-top: 16px solid lightskyblue;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin { /* Safari */
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rdw {
	display: none;
}
.duo {
	display: none;
}
.inkomensverklaring {
	display: none;
}
.msg {
	display: none;
}

