.persona-info {
  width:100%;
}
.persona-info img {
//  float:left;
  width:22%;
}
.persona-info .title, .persona-info .desc {
  float:right;
  width:75%;
}

.goals {
  width: 100%;
}

.goal .title, .goal .desc {
  width:75%;
  float:left;
}
.goal img {
//  float:right;
  width:24%;
}
