.persona {
  display:flex;
}
.persona-info {
  max-width:160px;
  display:flex;
  flex-direction:column;
}
.persona-info img {
  order:1;
}
.persona-info .title {
  order:2;
}
.persona-info .desc {
  order:3;
}

.goals {
  max-width: 205px;
}

.goal {
  display:flex;
  flex-wrap: wrap;
}

.goal .title {
  order:1;
  width:125px;
}
.goal img {
  order:2;
  width:70px;
}
.goal .desc {
  order:3;
  max-width:200px;
}
.goals {
  width:200px;
  margin:auto;
  display:flex;
}

